.content-gallery {
  display: grid;
  grid-template-rows: 50px 1fr;

  transition: all ease 0.3s;

  grid-template-areas:
    "submenu"
    "gallery";
}

.subMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 50px;
  margin: 30px;

  border-radius: 5px;
  border: none;

  font: 400 1.3rem "Petrona";
  color: #f86624;
  background-color: #FFF;

  transition: 0.2s;
}

button:hover {
  background-color: rgba(248, 102, 36, 0.8);
  color: #FFF;
}

button:focus {
  outline: none;
}

.active {
  border: 3px solid #fd3900;

  transition: all ease 0.2s;

  background-color: #f86624;
  color: #FFF;
}

.row {
  grid-area: gallery;
  margin: 0;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 25px;
}

.small_img {
  height: 100%;
  width: 100%;

  transition: all linear 0.3s;

  cursor: pointer;
}

.small_img:hover {
  transform: scale(1.1);
}