.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.content-form .select-one {
  height: 4rem;
  width: 50%;
  margin-top: 5px;

  font-size: 1.5rem;
}

.results {
  text-align: center;
  width: inherit;
}

.content-form .select-two {
  height: 4rem;
  width: 50%;
  
  font-size: 1.5rem;
}

.content-form {
  height: 100%;
  width: 100%;
}

select {
  cursor: pointer;
}

.form .feed {
  width: 100%;
  height: 100%;

  margin-top: 5px;
}

.form .feed .feedImages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100%;
}

.feedImages #typeOne {
  height: 50%;
  width: 100%;
  
  display: flex;
  align-items: center;

  position: relative;
}

.feedImages .infoProduct {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* line-height: 0px; */
}

.feedImages .infoProduct p {
  font: 400 11px 'Nunito';

  margin: 5px 25px;
}

.feedImages #typeTwo {
  height: 50%;
  width: 100%;
  
  display: flex;
  align-items: center;

  position: relative;
}

.form .feed .feedImages img {
  height: 100%;
  object-fit: contain;
}

@media (max-width: 540px) {
  .form .feed .feedImages img {
    height: 25%;
    width: 100%;
    object-fit: contain;

    margin: 0;
  }

  .feedImages #typeOne {
    flex-direction: column;
  }

  .feedImages #typeOne .sevenPlusImg {
    object-fit: cover;
  }

  .feedImages #typeOne .dogChowImg {
    width: 100%;
    height: 30%;
  }

  .proPlanSevenPlusImg {
    object-fit: cover;
  }

  .feedImages #typeTwo {
    flex-direction: column;
  }
}